In [1]:
import pandas as pd

In [28]:
from datetime import datetime

In [2]:
df_icfes = {}

In [3]:
df_icfes['2020-2'] = pd.read_csv('./data/Saber_11__2020-2.csv')

In [4]:
df_icfes['2020-1'] = pd.read_csv('./data/Saber_11__2020-1.csv')

In [5]:
df_icfes['2019-2'] = pd.read_csv('./data/Saber_11__2019-2.csv')

/Users/jfmolano/DATOS-ICFES/icfes/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (76,78) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
df_icfes['2019-1'] = pd.read_csv('./data/Saber11_2019_1.csv', encoding='latin-1')

/Users/jfmolano/DATOS-ICFES/icfes/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (18,19,20,21,22,24,34,37,38,65,66,67,68,69,70,71,72,73,75,76,77,78,80,82) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
df_icfes['2018-2'] = pd.read_csv('./data/Saber11_2018_2.csv', encoding='latin-1')

/Users/jfmolano/DATOS-ICFES/icfes/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (5,19,21,22,25,27,28,29,30,31,38) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [8]:
df_icfes['2018-1'] = pd.read_csv('./data/Resultados_Saber_11_2018-1_Refinado.csv')

/Users/jfmolano/DATOS-ICFES/icfes/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (11,13,14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [9]:
df_icfes['2018-1'].columns = list(map(lambda x:x.upper(),list(df_icfes['2018-1'].columns)))

In [83]:
df_icfes['2017-2'] = pd.read_csv('./data/Saber11_2017_2.csv')

/Users/jfmolano/DATOS-ICFES/icfes/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (5,19,21,22,23,25,26,27,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [10]:
# df_saber_2020_2.columns

In [11]:
selected_columns = ['ESTU_GENERO',
       'PERIODO', 'ESTU_CONSECUTIVO',
       'ESTU_DEPTO_RESIDE', 'ESTU_COD_RESIDE_DEPTO', 'ESTU_MCPIO_RESIDE',
       'ESTU_COD_RESIDE_MCPIO', 'FAMI_ESTRATOVIVIENDA',
       'FAMI_TIENEINTERNET', 'FAMI_TIENECOMPUTADOR',
       'ESTU_DEDICACIONINTERNET',
       'PUNT_LECTURA_CRITICA',
       'PUNT_MATEMATICAS',
       'PUNT_C_NATURALES',
       'PUNT_SOCIALES_CIUDADANAS',
       'PUNT_INGLES',
       'PUNT_GLOBAL']

In [12]:
df_icfes['2020-2'] = df_icfes['2020-2'][
    selected_columns
]

In [13]:
df_icfes['2020-1'] = df_icfes['2020-1'][
    selected_columns
]

In [14]:
df_icfes['2019-2'] = df_icfes['2019-2'][
    selected_columns
]

In [15]:
df_icfes['2019-1'] = df_icfes['2019-1'][
    selected_columns
]

In [16]:
df_icfes['2018-2'] = df_icfes['2018-2'][
    selected_columns
]

In [17]:
df_icfes['2018-1'] = df_icfes['2018-1'][
    selected_columns
]

In [ ]:
df_icfes['2017-2'] = df_icfes['2017-2'][
    selected_columns
]

In [18]:
df_icfes['2020-2'].head()

,ESTU_GENERO,PERIODO,ESTU_CONSECUTIVO,ESTU_DEPTO_RESIDE,ESTU_COD_RESIDE_DEPTO,ESTU_MCPIO_RESIDE,ESTU_COD_RESIDE_MCPIO,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_TIENECOMPUTADOR,ESTU_DEDICACIONINTERNET,PUNT_LECTURA_CRITICA,PUNT_MATEMATICAS,PUNT_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PUNT_INGLES,PUNT_GLOBAL
0,F,20204,SB11202040211436,CUNDINAMARCA,25.0,CAJICÁ,25126.0,Estrato 2,Si,Si,Más de 3 horas,54,65,41,33,55.0,244
1,M,20204,SB11202040433216,CUNDINAMARCA,25.0,CAJICÁ,25126.0,Estrato 3,Si,No,Más de 3 horas,57,43,46,49,33.0,238
2,F,20204,SB11202040244180,CUNDINAMARCA,25.0,CAJICÁ,25126.0,Estrato 1,No,No,30 minutos o menos,59,72,63,68,59.0,325
3,M,20204,SB11202040210971,CUNDINAMARCA,25.0,CAJICÁ,25126.0,Sin Estrato,Si,No,Entre 1 y 3 horas,47,55,46,43,47.0,238
4,F,20204,SB11202040235382,CUNDINAMARCA,25.0,CAJICÁ,25126.0,Estrato 5,Si,Si,Entre 1 y 3 horas,37,48,44,32,43.0,202

In [19]:
df_icfes['2020-1'].head()

,ESTU_GENERO,PERIODO,ESTU_CONSECUTIVO,ESTU_DEPTO_RESIDE,ESTU_COD_RESIDE_DEPTO,ESTU_MCPIO_RESIDE,ESTU_COD_RESIDE_MCPIO,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_TIENECOMPUTADOR,ESTU_DEDICACIONINTERNET,PUNT_LECTURA_CRITICA,PUNT_MATEMATICAS,PUNT_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PUNT_INGLES,PUNT_GLOBAL
0,F,20201,SB11202010045555,CESAR,20.0,SAN DIEGO,20750.0,Estrato 1,No,No,No Navega Internet,39,32,35,24,36.0,164
1,F,20201,SB11202010045719,NARIÑO,52.0,IPIALES,52356.0,NaN,NaN,NaN,NaN,41,41,39,44,30.0,202
2,F,20201,SB11202010070662,CAUCA,19.0,TOTORÓ,19824.0,Estrato 1,No,No,No Navega Internet,37,36,33,24,30.0,162
3,F,20201,SB11202010069926,PUTUMAYO,86.0,MOCOA,86001.0,Estrato 1,Si,Si,Entre 1 y 3 horas,38,42,38,33,37.0,188
4,F,20201,SB11202010023181,RISARALDA,66.0,PEREIRA,66001.0,Estrato 6,Si,Si,Más de 3 horas,58,50,50,53,80.0,274

In [20]:
df_icfes['2019-2'].head()

,ESTU_GENERO,PERIODO,ESTU_CONSECUTIVO,ESTU_DEPTO_RESIDE,ESTU_COD_RESIDE_DEPTO,ESTU_MCPIO_RESIDE,ESTU_COD_RESIDE_MCPIO,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_TIENECOMPUTADOR,ESTU_DEDICACIONINTERNET,PUNT_LECTURA_CRITICA,PUNT_MATEMATICAS,PUNT_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PUNT_INGLES,PUNT_GLOBAL
0,M,20194,SB11201940031558,MAGDALENA,47,SANTA ANA,47707,Estrato 3,Si,No,Entre 30 y 60 minutos,47,48,37,30,54.0,208
1,M,20194,SB11201940303339,BOGOTÁ,11,BOGOTÁ D.C.,11001,Estrato 3,Si,Si,Entre 30 y 60 minutos,60,65,54,59,63.0,299
2,M,20194,SB11201940255017,BOLIVAR,13,CARTAGENA DE INDIAS,13001,Estrato 1,No,No,Más de 3 horas,66,57,41,74,64.0,299
3,M,20194,SB11201940154799,BOGOTÁ,11,BOGOTÁ D.C.,11001,Estrato 3,No,Si,Entre 30 y 60 minutos,62,54,61,73,53.0,309
4,M,20194,SB11201940280831,BOGOTÁ,11,BOGOTÁ D.C.,11001,Estrato 3,Si,Si,Más de 3 horas,63,57,55,57,52.0,288

In [21]:
df_icfes['2019-1'].head()

,ESTU_GENERO,PERIODO,ESTU_CONSECUTIVO,ESTU_DEPTO_RESIDE,ESTU_COD_RESIDE_DEPTO,ESTU_MCPIO_RESIDE,ESTU_COD_RESIDE_MCPIO,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_TIENECOMPUTADOR,ESTU_DEDICACIONINTERNET,PUNT_LECTURA_CRITICA,PUNT_MATEMATICAS,PUNT_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PUNT_INGLES,PUNT_GLOBAL
0,F,20191,SB11201910008548,VALLE,76.0,CALI,76001.0,Estrato 4,Si,Si,Entre 1 y 3 horas,50,49,47,40,54.0,235
1,F,20191,SB11201910004475,VALLE,76.0,CALI,76001.0,Estrato 3,Si,No,Entre 1 y 3 horas,53,45,44,34,35.0,217
2,M,20191,SB11201910011427,VALLE,76.0,CALI,76001.0,Estrato 2,Si,No,30 minutos o menos,60,52,44,41,49.0,246
3,M,20191,SB11201910041975,VALLE,76.0,CALI,76001.0,Estrato 2,Si,Si,Más de 3 horas,56,54,46,44,64.0,255
4,F,20191,SB11201910014490,BOGOTA,11.0,BOGOTÁ D.C.,11001.0,Estrato 6,Si,Si,Entre 1 y 3 horas,55,67,50,47,71.0,280

In [22]:
df_icfes['2018-2'].head()

,ESTU_GENERO,PERIODO,ESTU_CONSECUTIVO,ESTU_DEPTO_RESIDE,ESTU_COD_RESIDE_DEPTO,ESTU_MCPIO_RESIDE,ESTU_COD_RESIDE_MCPIO,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_TIENECOMPUTADOR,ESTU_DEDICACIONINTERNET,PUNT_LECTURA_CRITICA,PUNT_MATEMATICAS,PUNT_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PUNT_INGLES,PUNT_GLOBAL
0,M,20182,SB11201820408513,ATLANTICO,8.0,SOLEDAD,8758.0,Estrato 2,Si,No,Más de 3 horas,63,69,54,57,65.0,305
1,M,20182,SB11201820541500,CORDOBA,23.0,LORICA,23417.0,Estrato 1,Si,No,Entre 30 y 60 minutos,54,50,50,40,48.0,242
2,M,20182,SB11201820208467,VALLE,76.0,CALI,76001.0,Estrato 2,No,No,Entre 30 y 60 minutos,59,43,46,45,47.0,241
3,M,20182,SB11201820514682,BOYACA,15.0,TUNJA,15001.0,Estrato 3,Si,Si,Más de 3 horas,61,60,60,67,63.0,310
4,M,20182,SB11201820306251,BOGOTA,11.0,BOGOTÁ D.C.,11001.0,Estrato 2,Si,No,Entre 1 y 3 horas,56,51,48,49,56.0,257

In [23]:
df_icfes['2018-1'].head()

,ESTU_GENERO,PERIODO,ESTU_CONSECUTIVO,ESTU_DEPTO_RESIDE,ESTU_COD_RESIDE_DEPTO,ESTU_MCPIO_RESIDE,ESTU_COD_RESIDE_MCPIO,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_TIENECOMPUTADOR,ESTU_DEDICACIONINTERNET,PUNT_LECTURA_CRITICA,PUNT_MATEMATICAS,PUNT_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PUNT_INGLES,PUNT_GLOBAL
0,F,20181,SB11201810007354,BOGOTA,11,BOGOTÁ D.C.,11001,Estrato 6,Si,Si,Entre 1 y 3 horas,71,65,69,63,90,344
1,M,20181,SB11201810018765,VALLE,76,CALI,76001,Estrato 5,Si,Si,Entre 30 y 60 minutos,75,77,100,81,86,417
2,M,20181,SB11201810028523,VALLE,76,CALI,76001,Estrato 1,Si,Si,Entre 30 y 60 minutos,42,27,29,36,29,166
3,F,20181,SB11201810003574,VALLE,76,CALI,76001,Estrato 3,Si,Si,Más de 3 horas,61,62,72,70,79,336
4,F,20181,SB11201810024346,VALLE,76,CALI,76001,Estrato 3,No,Si,30 minutos o menos,69,75,67,65,71,346

In [66]:
df_icfes_all = pd.concat([
    df_icfes['2020-2'],
    df_icfes['2020-1'],
    df_icfes['2019-2'],
    df_icfes['2019-1'],
    df_icfes['2018-2'],
    df_icfes['2018-1']
])

In [67]:
df_icfes_all['PERIODO'].unique()

array([20204, 20201, 20194, 20191, 20182, 20181])

In [68]:
dict_dates = {
    20204:datetime(2020,6,1),
    20201:datetime(2020,1,1),
    20194:datetime(2019,6,1),
    20191:datetime(2019,1,1),
    20182:datetime(2018,6,1),
    20181:datetime(2018,1,1)
}

In [69]:
len(df_icfes_all)

1761539

In [70]:
df_icfes_all['PERIODO'] = df_icfes_all['PERIODO'].apply(lambda x:dict_dates[x])

In [71]:
df_icfes_all['PERIODO'].value_counts()

2018-06-01    609118
2019-06-01    546212
2020-06-01    504872
2019-01-01     66104
2018-01-01     19798
2020-01-01     15435
Name: PERIODO, dtype: int64

In [72]:
def cast_internet(x):
    if x!=x:
        return 'NR'
    else:
        if x=='-' or x=='Sin respuesta':
            return 'NR'
        else:
            return x

In [73]:
df_icfes_all['FAMI_TIENEINTERNET'] = df_icfes_all['FAMI_TIENEINTERNET'].apply(cast_internet)

In [74]:
df_icfes_all['FAMI_TIENEINTERNET'].value_counts()

Si    1007142
No     569572
NR     184825
Name: FAMI_TIENEINTERNET, dtype: int64

In [75]:
df_icfes_all['FAMI_TIENECOMPUTADOR'].value_counts()

Si    943595
No    658427
-       9401
Name: FAMI_TIENECOMPUTADOR, dtype: int64

In [76]:
df_count_periodo = df_icfes_all.groupby(['PERIODO']).agg({'ESTU_CONSECUTIVO':'count'}).reset_index()

In [77]:
df_count_tiene_internet = df_icfes_all.groupby(['PERIODO','FAMI_TIENEINTERNET']).agg({'ESTU_CONSECUTIVO':'count'}).unstack().reset_index().fillna(0)

In [78]:
df_merged = pd.merge(df_count_periodo,df_count_tiene_internet,on='PERIODO')

/Users/jfmolano/DATOS-ICFES/icfes/lib/python3.9/site-packages/pandas/core/reshape/merge.py:648: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)
/Users/jfmolano/DATOS-ICFES/icfes/lib/python3.9/site-packages/pandas/core/generic.py:4153: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [79]:
df_merged

,PERIODO,ESTU_CONSECUTIVO,"(ESTU_CONSECUTIVO, NR)","(ESTU_CONSECUTIVO, No)","(ESTU_CONSECUTIVO, Si)"
0,2018-01-01,19798,1339,2121,16338
1,2018-06-01,609118,91199,214691,303228
2,2019-01-01,66104,46122,2504,17478
3,2019-06-01,546212,30971,201199,314042
4,2020-01-01,15435,1529,675,13231
5,2020-06-01,504872,13665,148382,342825

In [80]:
df_merged.columns = [
        'periodo',
        'conteo',
        'NR',
        'No',
        'Si'
]

In [81]:
df_merged['Si_porcentaje'] = df_merged['Si']/df_merged['conteo']
df_merged['No_porcentaje'] = df_merged['No']/df_merged['conteo']
df_merged['NR_porcentaje'] = df_merged['NR']/df_merged['conteo']

In [82]:
df_merged

,periodo,conteo,NR,No,Si,Si_porcentaje,No_porcentaje,NR_porcentaje
0,2018-01-01,19798,1339,2121,16338,0.825235,0.107132,0.067633
1,2018-06-01,609118,91199,214691,303228,0.497815,0.352462,0.149723
2,2019-01-01,66104,46122,2504,17478,0.264402,0.037880,0.697719
3,2019-06-01,546212,30971,201199,314042,0.574945,0.368353,0.056701
4,2020-01-01,15435,1529,675,13231,0.857208,0.043732,0.099061
5,2020-06-01,504872,13665,148382,342825,0.679033,0.293900,0.027066